/* You can add global styles to this file, and also import other style files */
body {
    height: 100%;
}
.wrapper {	
	min-height:100%;
	position: relative;
}
.content {
	padding-bottom: 60px; /*height of the footer*/	
}
.footer {	
	text-align:right;
	font-size: 10px;
    position:absolute;
    width: 98%;
	bottom:15px;
	height: 60px;	
}